@model ShoppingApp.Data.Entities.Order

@{
    ViewData["Title"] = "Details";
}

<div class="row" style="float: none !important;margin-top: 60px;">
    <div class="col-md-4 offset-md-4 detail-card">
        <div style="display:flex; align-items:center;">
            <h5 class="orderHeader">Order Date</h5>
            <span class="detailvalue">@Model.OrderDate</span>
        </div>
        <div style="display:flex; align-items:center;">
            <h5 class="orderHeader">Order Number</h5>
            <span class="detailvalue">@Model.OrderNumber</span>
        </div>
        <div class="btn btn-primary">
            <a asp-action="Edit" asp-route-id="@Model.Id" style="color: white;">Edit</a> |
            <a asp-action="Index" style="color: white;">Back to List</a>
        </div>
    </div>
</div>