
/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    padding: 0 10px;
    width: 250px;
}

/* Remove extra left and right margins, due to padding */
.row {
    float: left;
    margin-left: 66px;
}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card_one {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    padding: 16px;
    background-color: #f1f1f1;
    font-family: arial;
    height: 300px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card_one button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

    .card_one button:hover {
        opacity: 0.7;
    }

.card_one p {
    display: inline;
    margin: 0px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}