

/*body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input, textarea {
    font-size: 18px;
    width: 200px;
}

input[type=submit]{
    width: auto;
}

label {
    font-size: 16px;
}

.product-info{
    border: 1px solid grey;
    display: inline-block;
    padding: 8px 2px;
    margin: 2px;
    width: 650px;
    background-color: lightgray;
   
}

.product-info img{
    float: left;
    max-width: 450px;
}

#loginToggle{
    cursor:pointer;
}

.popup-form{
    padding: 5px;
    border: 2px black inset;
    display: inline-block;
}

    .popup-form input {
        width: 200px;
    }

.popup-form label{
    width: 150px;
    display: inline-block;
}

.popup-form input[type=checkbox], .popup-form input[type=submit]{
    width: auto;
}

menu li{
    display: inline;
}

menu li::after{
    content: ' | ';
}*/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

    .card button:hover {
        opacity: 0.7;
    }