
/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    background-color: #f1f1f1;
}

.form-group {
    width: 200px;
}
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    padding: 0 10px;
    width: 250px;
}

/* Remove extra left and right margins, due to padding */
.row {
    float: left;
    margin-left: 66px;
}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card_one {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 271px;
    margin: auto;
    background-color: #f1f1f1;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

/*.card_one button {
    border: none;
    outline: 0;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 57px;
    font-size: 18px;
    float: right;
    margin-top: -23px;
    margin-right: 22px;
    height: 41px;
}*/

.btn-primary {
    background-color: #4285f4 !important;
    color: #fff !important;
}

.btn {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}

.btn-primary {
    border-color: #007bff;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

    .card_one button:hover {
        opacity: 0.7;
    }

.card_one p {
    display: inline;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.section .section-heading {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.section-heading {
    text-align: center;
}

.section-description {
    margin-left: 5%;
    margin-right: 5%;
}

.section-description {
    color: #757575;
    margin-bottom: 4rem;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.section img {
    max-width: 100%;
    height: auto;
}

.card.card-cascade.narrower {
    margin-top: 10px;
}

.card.card-cascade {
    width: 100%;
}

.card:not([class*="card-outline-"]) {
    border: 0;
}

.card.card-cascade.narrower .view {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px;
}

.card.card-cascade .view {
    border-radius: 4px;
}

.btn-floating:hover,
.card-overlay,
.card.card-cascade .view,
.colorful-select .dropdown-content li a:hover,
.colorful-select .dropdown-content li span:hover,
.comments-list img,
.modal-dialog.cascading-modal.modal-avatar .modal-header img,
.reply-form img,
.testimonial-carousel .testimonial .avatar img,
.z-depth-2 {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card.card-cascade .card-body {
    padding-top: 1.8rem;
}

.btn .fa,
.card .card-body {
    position: relative;
}

.card .rating {
    color: #ffa000;
}

.rating {
    list-style-type: none;
}

.no-padding .fa,
.rating {
    padding: 0;
}

    .rating li {
        display: inline-block;
    }

.no-padding .fa,
.rating {
    padding: 0;
}

.card-text {
    line-height: 20px;
    height: 60px;
    overflow: hidden;
}

.card .card-footer {
    background-color: transparent;
}

    .card .card-footer .left {
        float: left;
    }

    .card .card-footer .right {
        float: right;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

        .card .card-footer .right a.active {
            color: #d50000;
        }

        .card .card-footer .right a {
            color: #757575;
            margin-left: 1rem;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }


a.button {
    margin-right: 210px;
    float: right;
}

.productTable {
    margin-left: 200px;
    margin-right: 200px;
    width: 1051px;
    margin-top: 89px;
}

.inputfield {
    width: 366px;
}

.detail-card {
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    padding: 10px;
}

    .detail-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }


.detailheader {
    width: 20%;
    font-weight: bold;
}

.orderHeader {
    width: 68%;
    font-weight: bold;
}
   

.detailvalue {
    width: 80%;
}