<!DOCTYPE html>
<html>
<head>
    <title>Shopping App: @ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header class="container-fluid" style="padding: 0px;">
        <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top" style="height: 60px;">
            <h1 class="navbar-brand"><i class="fas fa-gifts"></i> ShoppingApp</h1>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div style="width: 100%;">
                <menu id="theMenu" class="navbar-collapse collapse" >
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a asp-controller="App" asp-action="Index" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="App" asp-action="Contact" class="nav-link">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="App" asp-action="About" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="App" asp-action="Shop" class="nav-link">Shop</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                        }
                        <li class="nav-item" style="color: white; padding-top: 9px;  margin-left: 49px;">
                            <i class="fas fa-shopping-cart"></i>
                        </li>                        
                        <li class="nav-item">
                            <a href="/App/Shop#/checkout" class="nav-link">Cart</a>
                        </li>


                    </ul>
                </menu>
            </div>

        </nav>

    </header>
    <section class="container-fluid" style="padding:0px;margin-top: 60px;">
        <h2 class="text-center">@ViewBag.Title</h2>
        @RenderBody()
    </section>
    @*<footer class="container">
        <div class="text-center">
            Copyright 2019 Shopping App LLC
        </div>
    </footer>*@
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    @RenderSection("scripts", false);
</body>
</html>